
.GlobalTeamContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #696969;
}
.TeamContainer{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-left: 20%;
   
}


.TeamContentContainer{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.TeamInviteInputContainer{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}

.InviteInputContainer{
    width: 500px;
    height: 100px;
    background: #232323;
    color: white;
    font-size: 36px;
    border-radius: 20px;
    border: none;
}

.GeneralContentContainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.TaskContentList{
    width: 49%;
    height: 100%;
}

.TeamTasksContainer::-webkit-scrollbar{
    border-radius: 3px;
    width: 7px;
    background-color: black;
}

.TeamTasksContainer::-webkit-scrollbar-thumb {
    background: #464646;
    border-radius: 3px;
}

.TaskTeamNaming{
    margin-left: 20px;
    font-size: 36px;
    height: 5%;
}

.TeamTasksContainer{
    width: 100%;
    height: 94%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 10px;
}

.TeamTaskContainer{
    margin-top: 20px;
    width: 100%;
    min-height: 200px;
    background: #464646;
    border-radius: 20px;
    padding: 20px 20px;
    box-sizing: border-box;
    position: relative;
}

.TeamMemberListContainer{
    width: 100%;
    height: 94%;
    overflow-y: auto;
    padding-right: 10px;
}

.TeamMemberListContainer::-webkit-scrollbar{
    border-radius: 3px;
    width: 7px;
    background-color: black;
}

.TeamMemberListContainer::-webkit-scrollbar-thumb {
    background: #464646;
    border-radius: 3px;
}

.TeamMemberContainer{
    margin-bottom: 10px;
    width: 100%;
    min-height: 250px;
    background: #464646;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.MemberAvatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.InnerSpacingContainer{
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
}